/__pycache__
**/__pycache__
/build
/dist
/venv
/data
/xlsxdata
/model
/spectral_database

# Python
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
dataset*
